/* 
$spfGold: #BC7817;
$spfBlue: #80D4F7;
$dnwBlue: #000034;
$backGrey: #F6F6F6;
$borderGrey: #E6E6E6;
$textGrey: #404040; */



html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Garamond', serif;
  /* background: #FAF4F1;  */
  overflow-x: hidden; 
}
  
  
/* vertical-align: bottom -- this removes white gap from bottom of images */
img {
  max-width: 100%;
  height: auto;
  vertical-align:bottom;
}

a {
  text-decoration: none;
}

.SubMenuDisplay {
  display: block;
  z-index: 999;
}

.main-title-link {
  color: #BC7817;
  transition: all 0.2s;
}

.main-title-link:hover {
  color: silver;
}

.logo-link {
  min-width: 145px;
}

.navbar-link {
  color: silver;
}

.navbar-link:hover {
  color: white;
}


/* footer styles below */
.footer-background-hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/footer-hero3crop.jpg);
  background-size: 170%;
  height: 100%;
  background-attachment: fixed;
  overflow: hidden;
  background-repeat: round;
}

@media (min-width: 446px) {
  .footer-background-hero-image {
    background-size: 120%;
  }
}

@media (min-width: 731px) {
  .footer-background-hero-image {
    background-size: 100%;
  }
}
/* footer styles above */